defmodule <%= mod %> do
  @moduledoc """
  Entry point for the <%= mod %> Dialup application.
  """

  use Application

  use Dialup,
    app_dir: __DIR__ <> "/app",
    title: "<%= mod %>",
    lang: "en"

  @impl Application
  def start(_type, _args) do
    children = [
      {Dialup, app: __MODULE__, port: 4000}
    ]

    opts = [
      strategy: :one_for_one,
      name: __MODULE__.Supervisor
    ]

    Supervisor.start_link(children, opts)
  end
end
